<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        id:自定义，一般是类名第一个字母小写
        class:全类名
        property:配置属性，name属性名，value基本数据类型的属性值，ref引用数据类型的引用（另一个bean的id）
     -->
    <bean id="hello" class="yan.ibbie.pojo.Hello">
        <property name="str" value="lalallala"></property>
    </bean>

    <!--
        改进spring01_about_ioc
        想要修改不同的实现，修改beans.xml即可
    -->
    <bean id="userDaoImpl" class="yan.ibbie.dao.UserDaoImpl"></bean>
    <bean id="userDaoMysqlImpl" class="yan.ibbie.dao.UserDaoMysqlImpl"></bean>
    <bean id="userServiceImpl" class="yan.ibbie.service.UserServiceImpl">
        <!--<property name="userDao" ref="userDaoImpl"></property>-->
        <property name="userDao" ref="userDaoMysqlImpl"></property>
    </bean>

</beans>